<form style="width: 26rem;" action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="faa5b8cc-8a20-47d2-bbef-8c4ec3170416">
    <!-- Name input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="contactName" class="form-control" name="name" required />
        <label class="form-label" for="contactName">Name</label>
    </div>
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="contactEmail" class="form-control"  name="email" required/>
        <label class="form-label" for="contactEmail">Email</label>
    </div>
    <!-- Subject input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="contactSubject" class="form-control" name="subject" value="Web Query" required />
        <label class="form-label" for="contactSubject">Subject</label>
    </div>
    <!-- Message input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <textarea class="form-control" id="contactMessage" rows="4"></textarea>
        <label class="form-label" for="contactMessage">Message</label>
    </div>
    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
    <input type="hidden" name="redirect" value="https://web3forms.com/success">
    <!-- Submit button -->
    <button type="button submit" class="btn btn-primary btn-block mb-4">Send</button>
</form>