<form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="faa5b8cc-8a20-47d2-bbef-8c4ec3170416">
    <!-- Name input -->
    <div class="form-floating mb-3">
        <input type="text" id="contactName" class="form-control" name="name" placeholder="Name" required />
        <label class="form-label" for="contactName">Name</label>
    </div>
    <!-- Email input -->
    <div class="form-floating mb-3">
        <input type="email" id="contactEmail" class="form-control" name="email" placeholder="Email" required/>
        <label class="form-label" for="contactEmail">Email</label>
    </div>
    <!-- Subject input -->
    <div class="form-floating mb-3">
        <input type="text" id="contactSubject" class="form-control" name="subject" placeholder="Subject" value="Web Query" required />
        <label class="form-label" for="contactSubject">Subject</label>
    </div>
    <!-- Message input -->
    <div class="form-floating mb-3">
        <textarea class="form-control" id="contactMessage" name="message" placeholder="Message" style="height: 10rem" required></textarea>
        <label class="form-label" for="contactMessage">Message</label>
    </div>
    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
    <input type="hidden" name="redirect" value="https://web3forms.com/success">
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary mb-2">Send</button>
</form>